<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.ocsinventoryng.android.agent"
          android:installLocation="auto"
          android:versionCode="25"
          android:versionName="2.1.7">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:enabled="true"
        android:icon="@drawable/ic_ocs_android"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.ocsinventoryng.android.agent.OCSAgentActivity"
            android:label="@string/app_name"
            android:process=":ocs_process">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="org.ocsinventoryng.android.agent.OCSLaunchActivity"
            android:label="@string/title_activity_ocslaunch"
            android:process=":ocs_process">
        </activity>

         <activity
            android:name="org.ocsinventoryng.android.agent.OCSListActivity"
            android:label="@string/title_activity_show_inventory"
            android:process=":ocs_process">
        </activity>
        <activity
            android:name="org.ocsinventoryng.android.agent.OCSSectionListActivity"
            android:label="@string/title_activity_show_inventory"
            android:process=":ocs_process">
        </activity>
        <activity
            android:name="org.ocsinventoryng.android.agent.OCSPrefsActivity"
            android:label="@string/title_activity_ocsconfig"
            android:process=":ocs_process"
            android:theme="@android:style/Theme.Black">
        </activity>

        <service
            android:name="org.ocsinventoryng.android.agent.OCSAgentService"
            android:process=":ocs_process">
        </service>
        <service
            android:name="org.ocsinventoryng.android.agent.OCSDownloadService"
            android:process=":ocs_process">
        </service>

        <receiver
            android:name="org.ocsinventoryng.android.agent.OCSEventReceiver"
            android:exported="true"
            android:process=":ocs_process">
        </receiver>
        <receiver
            android:name="org.ocsinventoryng.android.agent.OCSBootReceiver"
            android:process=":ocs_process">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.ocsinventoryng.android.agent.OCSInstallReceiver"
            android:process=":ocs_process">
            <intent-filter android:priority="10000">
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.ACTION_PACKAGE_CHANGED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
