<?xml version="1.0" encoding="utf-8"?><!--
/*
 * Copyright 2013-2016 OCSInventory-NG/AndroidAgent contributors : mortheres, cdpointpoint,
 * Cédric Cabessa, Nicolas Ricquemaque, Anael Mobilia
 *
 * This file is part of OCSInventory-NG/AndroidAgent.
 *
 * OCSInventory-NG/AndroidAgent is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 2 of the License, or
 * (at your option) any later version.
 *
 * OCSInventory-NG/AndroidAgent is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with OCSInventory-NG/AndroidAgent. if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 */
-->
<manifest package="org.ocs.android.agent"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:installLocation="auto"
          android:versionCode="230"
          android:versionName="2.3.0RC">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:enabled="true"
        android:icon="@drawable/ic_ocs_android"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
            android:name="org.ocs.android.agent.activity.OCSAgentActivity"
            android:label="@string/app_name"
            android:process=":ocs_process">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="org.ocs.android.agent.activity.OCSInstallPackageActivity"
            android:label="@string/title_activity_ocslaunch"
            android:process=":ocs_process">
        </activity>
        <activity
            android:name="org.ocs.android.agent.activity.OCSShowInventory"
            android:label="@string/title_activity_show_inventory"
            android:parentActivityName="org.ocs.android.agent.activity.OCSAgentActivity"
            android:process=":ocs_process">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ocs.android.agent.activity.OCSAgentActivity"/>
        </activity>
        <activity
            android:name="org.ocs.android.agent.activity.OCSPrefsActivity"
            android:label="@string/title_activity_ocsconfig"
            android:parentActivityName="org.ocs.android.agent.activity.OCSAgentActivity"
            android:process=":ocs_process">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ocs.android.agent.activity.OCSAgentActivity"/>
        </activity>

        <service
            android:name="org.ocs.android.agent.service.OCSAgentService"
            android:process=":ocs_process">
        </service>
        <service
            android:name="org.ocs.android.agent.service.OCSDownloadService"
            android:process=":ocs_process">
        </service>

        <receiver
            android:name="org.ocs.android.agent.receiver.OCSEventReceiver"
            android:exported="true"
            android:process=":ocs_process">
        </receiver>
        <receiver
            android:name="org.ocs.android.agent.receiver.OCSBootReceiver"
            android:process=":ocs_process">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.ocs.android.agent.receiver.OCSInstallReceiver"
            android:process=":ocs_process">
            <intent-filter android:priority="10000">
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.ACTION_PACKAGE_CHANGED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
